@model PDM.ViewModels.ItemImageViewModel
@using PDM.Code


<form role="form" method="post" asp-action="Create" enctype="multipart/form-data">
    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "Add New Image" })

    <div class="modal-body">
        <div class="form-group">
            <label asp-for="Item"></label>
            <select class="form-control" asp-for="ItemId" asp-items="@(new SelectList(ViewBag.Items, "Id", "InternalCode"))"></select>
        </div>
        <div class="form-group">
            <label asp-for="Name">Files</label>
            <input type="file" class="form-control" name="files" multiple />
        </div>
        <div class="form-group">
            <label asp-for="Name">Name</label>
            <input asp-for="Name" class="form-control" readonly value="Deafult" />
        </div>

    </div>

    @await Html.PartialAsync("_ModalFooter", new ModalFooter { })
</form>