@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>


<address>
    <strong>3D Department:</strong> <a href="mailto:printing3d@fiorano.rs">printing3d@fiorano.rs</a><br />
    <strong>Support:</strong> <a href="mailto:it@fiorano.rs">it@fiorano.rs</a>
</address>
